@tailwind base;
@tailwind components;
@tailwind utilities;

/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}


*/


@layer {
  .span--icon {
    @apply text-xl indent-0 tracking-normal;
  }

  .header__nav-a {
    @apply text-LIGHTC hover:text-LIGHTC visited:text-LIGHTC focus:text-LIGHTC;
  }
}






/* .text-balance {
    text-wrap: balance;
  } 
*/